<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Date time performed:</strong>
  <%= @activity.date_time_performed %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @activity.hours %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Billable:</strong>
  <%= @activity.billable %>
</p>

<p>
  <strong>Posted:</strong>
  <%= @activity.posted %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
